In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/AB_NYC_2019.csv")
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [3]:
cols = ['latitude',
'longitude',
'price',
'minimum_nights',
'number_of_reviews',
'reviews_per_month',
'calculated_host_listings_count',
'availability_365']

In [4]:
df1 = df[cols]

In [5]:
df1.head()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,40.64749,-73.97237,149,1,9,0.21,6,365
1,40.75362,-73.98377,225,1,45,0.38,2,355
2,40.80902,-73.94190,150,3,0,NaN,1,365
3,40.68514,-73.95976,89,1,270,4.64,1,194
4,40.79851,-73.94399,80,10,9,0.10,1,0

In [6]:
df1.minimum_nights.median()

3.0

In [7]:
df1.isna().sum()

latitude                              0
longitude                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [8]:
means = df1.reviews_per_month.mean()
means

1.3732214298586618

In [9]:
df1.reviews_per_month = df1.reviews_per_month.fillna(0)

C:\Users\msmoh\AppData\Roaming\Python\Python39\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [10]:
df1.isna().sum()

latitude                          0
longitude                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [11]:
df1.reviews_per_month.mean()

1.0909099089886491

In [12]:
df1.reviews_per_month.nunique()

938

In [13]:
df1.dtypes

latitude                          float64
longitude                         float64
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [14]:
y = df1.price
X = df1.drop(['price'], axis = 1)

In [15]:
print(len(y))
print(len(X))

48895
48895

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
X_scaled = scaler.transform(X)

In [17]:
X_scaled

array([[-1.49384920e+00, -4.37652087e-01, -2.93996210e-01, ...,
        -5.51510938e-01, -3.47164266e-02,  1.91625031e+00],
       [ 4.52436023e-01, -6.84639148e-01, -2.93996210e-01, ...,
        -4.45079101e-01, -1.56104443e-01,  1.84027456e+00],
       [ 1.46839948e+00,  2.22496662e-01, -1.96484417e-01, ...,
        -6.82985560e-01, -1.86451447e-01,  1.91625031e+00],
       ...,
       [ 1.57348017e+00,  7.58210126e-02,  1.44806857e-01, ...,
        -6.82985560e-01, -1.86451447e-01, -6.51730078e-01],
       [ 5.23773529e-01, -8.43880805e-01, -2.93996210e-01, ...,
        -6.82985560e-01, -3.47164266e-02, -8.41669456e-01],
       [ 6.43525178e-01, -8.05099504e-01, -1.46083215e-03, ...,
        -6.82985560e-01, -1.86451447e-01, -6.82120378e-01]])

In [18]:
y_scaled  = np.log1p(y)

In [42]:
from sklearn.model_selection import train_test_split

X_train, X_rem, y_train, y_rem = train_test_split(
    X, y_scaled, test_size=0.40, random_state=0)
    
    
X_val, X_test, y_val, y_test = train_test_split(
    X_rem, y_rem, test_size=0.50, random_state=0)

In [43]:
#X_val, X_test, y_val, y_test = train_test_split(
#    X_rem, y_rem, test_size=0.50, random_state=42)

In [44]:
print(len(X_train))
print(len(X_val))
print(len(X_test))

29337
9779
9779

In [45]:
def train_linear_regression_reg(X, y, r=0.001):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    XTX = XTX + r * np.eye(XTX.shape[0])

    XTX_inv = np.linalg.inv(XTX)
    w_full = XTX_inv.dot(X.T).dot(y)
    
    return w_full[0], w_full[1:]

In [46]:
from sklearn.metrics import mean_squared_error

w0, w = train_linear_regression_reg(X_train, y_train, r=0.001)


y_pred = w0 + X_test.dot(w)
rms = np.sqrt(mean_squared_error(y_test, y_pred, squared=False))

In [47]:
rms

0.8081216172987072

In [48]:
def rmse(a,b):
    rms = np.sqrt(mean_squared_error(a, b, squared=False))
    return rms

In [49]:
scores = []
for r in [0, 0.000001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]:
    w0, w = train_linear_regression_reg(X_train, y_train, r=r)

    y_pred = w0 + X_val.dot(w)
    score = rmse(y_val, y_pred)
    scores.append(score)
    
    print(r, w0, round(score,2))

0 -420.3610481847751 0.8
1e-06 -420.31079945628875 0.8
0.0001 -415.3949714956565 0.8
0.001 -375.4729689537674 0.8
0.01 -191.46377507231927 0.81
0.1 -32.44633834227709 0.83
1 -3.485549759075674 0.83
5 -0.7006204934950061 0.83
10 -0.3499222374992098 0.83

In [50]:
np.array(scores).std()

0.011276322259307888

In [41]:
r = 0.001

w0, w = train_linear_regression_reg(X_train, y_train, r=r)


y_pred = w0 + X_test.dot(w)
score = rmse(y_test, y_pred)
score

0.8000369743128566